[Unit]
Description=blockchain node
After=network.target

[Service]
Type=simple
Restart=always
User=bcadmin
WorkingDirectory=/home/bcadmin
ExecStart=/home/bcadmin/venv/bin/python /home/bcadmin/blockchain/node.py

[Install]
WantedBy=multi-user.target